.reveal section img {
    background: none;
    border: none;
    box-shadow: none;
}

@media only screen {
    div.stamp {
        position: absolute;
        font-family: "Courier";
        text-align: center;
        color: red;
        transform: rotate(-30deg);
        border: 2px solid red;
        border-radius: 10px;

        right: 12vw; bottom: 30vh;
        width: 70vw;
        font-size: 14vw;
    }

    code.rust-error {
        color: red;
        font-size: 8.25vw;
    }

    input {
        width: 15%;
        font-size: 12vw;
    }
}

@media only screen and (min-width: 700px) {
    div.stamp {
        right: -5vw; bottom: 25vh;
        width: 22vw;
        font-size: 4vw;
    }

    input {
        font-size: 2vw;
    }

    code.rust-error {
        font-size: 1.3vw;
    }
}
